.footer {
  position: fixed;
  bottom: 20px;
  display: flex;
  align-items: center ;
}

.copyright {
  margin-right: 1.5rem;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 720px) {
  .footer{
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(16, 18, 26, 0.3);
  }
}
